/*body {*/
/*    font: 13px/1.4 'Helvetica Neue', 'Helvetica','Arial', sans-serif;*/
/*    color: #333;*/
/*}*/
/*.container {*/
/*    width: 520px;*/
/*    margin: auto;*/
/*}*/
/*h1 {*/
/*    border-bottom: 1px solid #d9d9d9;*/
/*}*/
/*h2{*/
/*  position: relative;;*/
/*  font-size: 16px;*/
/*  font-weight: normal;*/
/*  text-transform: uppercase;*/
/*}*/
/*h2:before{*/
/*  content: '\2192';*/
/*  position: absolute;*/
/*  left: -20px;*/
/*  font-size: 0.9em;*/
/*}*/
/*a {*/
/*    color: #be2221;*/
/*    text-decoration: none;*/
/*}*/

.callback,
.simple,
.offset {
  font-size: 20px;
  background: #27ae60;
  padding: 0.5em 0.7em;
  color: #ecf0f1;
  margin-bottom: 50px;
  -webkit-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out;
}
.offset {
  margin-bottom: 10px;
}
.callback{
  cursor: pointer;
}
.ended {
  background: #c0392b;
}
.styled{
  margin-bottom: 50px;
}
.styled div {
  display: inline-block;
  margin-left: 10px;
  font-size: 30px;
  font-weight: 100;
  line-height: 1;
  text-align: right;
}
/* IE7 inline-block hack */
*+html .styled div{
  display: inline;
  zoom: 1;
}
.styled div:first-child {
  margin-left: 0;
}
.styled div span {
  display: block;
  border-top: 1px solid #cecece;
  padding-top: 3px;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
}
