{% extends '../layout.html' %}

{% block head %}
  <!-- Estilos css-->
  <link href="/dataTable/css/dataTables.bootstrap-3.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block menu %}
  <!-- Menu-->
  {% include '../menu.html' %}
{% endblock %}


{% block content %}

  <!-- Migas-->
  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
          <li><a href="/home">home</a></li>
          <li><a href="/rubros">rubros</a></li>
      </ol>
    </div>
  </div>

  <form id="form-signup" class="form-horizontal" action="/rubros" method="post">

  <!-- Mensajes -->

  {% if flash.success.length > 0 %}
      <div class="alert alert-success" role="alert">{{flash.success}}</div>
  {% endif %}

  {% if flash.error.length > 0 %}
    <div class="alert alert-danger" role="alert">{{flash.error}}</div>
  {% endif %}

  {% if flash.warning.length > 0 %}
    <div class="alert alert-warning" role="alert">{{flash.warning}}</div>
  {% endif %}

  <form id="form-perfil" class="form-horizontal" action="/rubros" method="post">

      <!-- Panel de Ingreso de Perfil -->
      <div class="panel panel-primary">
        <div class="panel-heading clearfix">
          <h5 class="panel-title pull-left" style="padding-top: 7.5px;"><strong>Ingresar nuevo Rubro</strong></h5>
          <div class="btn-group pull-right">
              <button name="button" class="btn btn-default btn-xs pull-right"> <i class="glyphicon glyphicon-floppy-save"></i> Guardar</button>
          </div>
        </div>

        <div class="panel-body">
            <div class="row center-block">
              <div class="col-md-4 form-group form-group-sm">
                  <!-- Nombre rubro -->
                  <label class="col-sm-6 control-label" for="nom_perfil">Nombre Rubro</label>
                  <div class="col-xs-6">
                    <input type="text" class="form-control input-sm" name="nom_rubro" placeholder="Nombre Rubro" id="nom_rubro"/>
                  </div>
              </div>
              <div class="col-md-7 form-group form-group-sm">
                <!-- Descripcion rubro -->
                <label class="col-sm-2 control-label" for="descripcion">Descripción</label>
                <div class="col-xs-8">
                  <textarea class="form-control input-sm" rows="6" name="descripcion" placeholder="Descripci&oacute;n Rubro" id="descripcion"></textarea>
                </div>
            </div>

          </div>
        </div>
      </div>

      <!-- Panel de grilla de rubros -->

      <div class="panel panel-primary">
        <div class="panel-heading clearfix">
          <h5 class="panel-title pull-left" style="padding-top: 7.5px;"><strong>Rubros</strong></h5>
        </div>

        <div class="panel-body">
          <table id="dtRubros" class="table table-hover table-bordered table-striped table-condensed ">
            <thead>
              <tr class="active">
                <th>Nombre Rubro</th>
                <th>Descripci&oacute;n</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
           </thead>
           <tbody>
             <tr>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
             </tr>
           </tbody>
          </table>
        </div>
      </div>
  </form>

    <form id="form-upd-rubro" class="form-horizontal" action="/updRubro" method="post">

      <div class="modal fade" id="updModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Actualización de Rubro</h4>
          </div>
          <div class="modal-body">

              <fieldset>
              <input type="hidden" name="idRubro" id="idRubro">

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Nombre Rubro</label>
                <div class="col-md-4">
                <input id="updNombre" name="updNombre" type="text" placeholder="Nombre Rubro" class="form-control input-md">
                </div>
              </div>
              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Descripci&oacute;n</label>
                <div class="col-md-4">
                <textarea id="updDescripcion" rows="6" name="updDescripcion" type="text" placeholder="Descripción" class="form-control input-md"></textarea>
                </div>
              </div>
              </fieldset>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button class="btn btn-primary" name="actualizar" value="actualizar">Actualizar</button>
          </div>
        </div>
      </div>
    </div>

  </form>

{% endblock %}

{% block scripts %}

  <script src="/dataTable/js/jquery.dataTables.js" type="text/javascript"></script>
  <script src="/dataTable/js/dataTables.bootstrap-3.js" type="text/javascript"></script>
  <script src="/dataTable/js/dataTables.bootstrapPagination-3.js" type="text/javascript"></script>
  <script src="/dataTable/js/jquery.dataTables.columnFilter.js" type="text/javascript"></script>
  <script src="/javascripts/datatable.rubro.config.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.validate.js" type="text/javascript"></script>
  <!--<script src="/javascripts/validations.perfil.js" type="text/javascript"></script>-->

{% endblock %}
