{% extends '../layout.html' %}

{% block head %}
  <link href="/dataTable/css/dataTables.bootstrap-3.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block menu %}
  {% include '../menu.html'%}
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
          <li><a href="/home">home</a></li>
          <li><a href="#">permisos</a></li>
      </ol>
    </div>
  </div>

  <!-- Titulo pagina -->
  <!-- <div class="row">
    <div class="col-md-12 text-center">
        <h3>Permisos</h3>
        <br>
    </div>
  </div> -->

  <!-- Mensajes -->

  {% if flash.success.length > 0 %}
      <div class="alert alert-success" role="alert">{{flash.success}}</div>
  {% endif %}

  {% if flash.error.length > 0 %}
    <div class="alert alert-danger" role="alert">{{flash.error}}</div>
  {% endif %}

  {% if flash.warning.length > 0 %}
    <div class="alert alert-warning" role="alert">{{flash.warning}}</div>
  {% endif %}

  <form id="form-ins-permisos" class="form-horizontal" action="/inspermisos" method="post">

      <!-- Buscador -->
      <div class="panel panel-primary">
        <div class="panel-heading clearfix">
          <h5 class="panel-title pull-left" style="padding-top: 7.5px;"><strong>Ingresar nuevo Perfil</strong></h5>
          <div class="btn-group pull-right">
              <button name="button" class="btn btn-default btn-xs pull-right"> <i class="glyphicon glyphicon-floppy-save"></i> Guardar</button>
          </div>
        </div>
        <br>

        <div class="row center-block">

          <!-- left controls -->
          <div id="left" class="col-sm-6">

            <div id="nombrepagina" class="form-group form-group-sm">
                <label class="col-sm-4 control-label" for="nombrePagina">Nombre Pagina</label>
              <div class="col-xs-5">
                <input class="form-control" type="text" name="nombrePagina" id="nombrePagina">
              </div>
            </div>

            <div id="urlpagina" class="form-group form-group-sm">
                <label class="col-sm-4 control-label" for="urlPagina">Url Pagina</label>
              <div class="col-xs-5">
                <input class="form-control" type="text" name="urlPagina" id="urlPagina">
              </div>
            </div>
          </div>

          <div id="left" class="col-sm-6">

              <div id="Ingreso" class="form-group form-group-sm">
                  <label class="col-sm-4 control-label" for="ingreso">Ingreso Pagina</label>
                <div class="col-xs-5">

                  <div class="radio">
                  <label>
                    <input type="radio" name="ingreso" id="optionsRadios1" value="true" checked="">
                    Si
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="ingreso" id="optionsRadios2" value="false">
                    No
                  </label>
                </div>

                </div>
              </div>

          </div>

        </div>

        <!-- <div class="row center-block">

          <div id="left-button" class="col-sm-6">
            <div id="actualizar" class="form-group">
              <label class="col-sm-4 control-label" for="actualizar"></label>
              <div class="col-xs-5">
                <button class="btn btn-primary btn-md" name="grabar"
                  value="grabar">
                  <i class="glyphicon glyphicon-floppy-save"></i>
                  Guardar
                </button>
              </div>
            </div>
          </div>

        </div> -->

      </div> <!-- panel -->
  </form>

  <form id="form-get-permisos" class="form-horizontal" action="/permisos" method="post">

      <div class="panel panel-primary">
      <div class="panel-heading">
      <i class="glyphicon glyphicon-flag"></i>
      Permisos
      </div>

    <div class="panel-body">

    <table id="dtPermisos" class="table table-hover table-bordered table-striped table-condensed">
      <thead>
        <tr class="active">
          <th>Nombre</th>
          <th>Ingreso</th>
          <th>Url</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
     </thead>
     <tbody>
       <tr>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
       </tr>
     </tbody>
    </table>

    </div>

    </div>
  </form>

  <form id="form-get-permisos" class="form-horizontal" action="/updpermiso" method="post">

      <div class="modal fade" id="updModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h4 class="modal-title">Modal title</h4>
          </div>
          <div class="modal-body">

              <fieldset>

              <input type="hidden" name="idPermiso" id="idPermiso">

              <!-- Text input-->
              <div class="form-group">
                  <label class="col-md-4 control-label" for="textinput">Nombre Pagina</label>
                    <div class="col-md-4">
                      <input id="updNombrePagina" name="updNombrePagina"
                        type="text" placeholder="Nombre Pagina" class="form-control input-md">
                    </div>
              </div>

              <!-- Multiple Radios (inline) -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="radios">Ingreso</label>
                <div class="col-md-4">
                  <label class="radio-inline" for="radios-0">
                    <input type="radio" name="UpdIngreso" id="updRadiosTrue" value="true">
                    Si
                  </label>
                  <label class="radio-inline" for="radios-1">
                    <input type="radio" name="UpdIngreso" id="updRadiosFalse" value="false">
                    No
                  </label>
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Url Ingreso</label>
                  <div class="col-md-4">
                    <input id="updUrlPagina" name="updUrlPagina" type="text"
                      placeholder="Url Pagina" class="form-control input-md">
                  </div>
              </div>

              </fieldset>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button class="btn btn-primary" name="actualizar" value="actualizar">Actualizar</button>
          </div>
        </div>
      </div>
    </div>

  </form>
{% endblock %}

{% block scripts %}

  <script src="/dataTable/js/jquery.dataTables.js" type="text/javascript"></script>
  <script src="/dataTable/js/dataTables.bootstrap-3.js" type="text/javascript"></script>
  <script src="/dataTable/js/dataTables.bootstrapPagination-3.js" type="text/javascript"></script>
  <script src="/dataTable/js/jquery.dataTables.columnFilter.js" type="text/javascript"></script>
  <script src="/javascripts/datatable.permiso.config.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.validate.js" type="text/javascript"></script>
  <script src="/javascripts/validations.permisos.js" type="text/javascript"></script>

{% endblock %}
