{% extends '../layout.html' %}

{% block menu %}
  {% include '../menu.html' %}
{% endblock %}

{% block head %}
  <link href="/dataTable/css/dataTables.bootstrap-3.css" rel="stylesheet" type="text/css">
  <link href="stylesheets/clockpicker.css" rel="stylesheet" type="text/css">
  <link href="stylesheets/standalone.css" rel="stylesheet" type="text/css">

  <style>
    .clockpicker-popover {
      z-index: 999999;
    }

    #updModal{
      position: absolute;
      top: 18%;
    }
  </style>

{% endblock %}

{% block content %}

  <!-- migas -->
  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
          <li><a href="/home">home</a></li>
          <li><a href="/horarios">horarios</a></li>
          <li><a href="/editarhorarios">editar horarios</a></li>
      </ol>
    </div>
  </div>

  <!-- Mensajes -->
  {% if flash.success.length > 0 %}
      <div class="alert alert-dismissable alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <p>{{flash.success}}</p>
      </div>
  {% endif %}

  {% if flash.error.length > 0 %}
    <div class="alert alert-dismissable alert-danger" role="alert">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <p>{{flash.error}}</p>
    </div>
  {% endif %}

  {% if flash.warning.length > 0 %}
    <div class="alert alert-dismissable alert-warning" role="alert">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <p>{{flash.warning}}</p>
    </div>
  {% endif %}

  <form id="form-edit-horario" class="form-horizontal" action="/edithorarios" method="post">

    <!-- Panel de grilla de Horarios -->
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
        <h5 class="panel-title pull-left" style="padding-top: 7.5px;"><strong>Horarios</strong></h5>
      </div>

      <div class="panel-body">

      <div style="width:600px; margin: 0 auto 0 auto;">
      <table id="dtHorarios" class="table table-hover table-bordered table-striped table-condensed" style="width: 600px">
        <thead>
          <tr class="active">
            <th>Nombre Horario</th>
            <th>Mes Horario</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
       </thead>
       <tbody>
         <tr>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
         </tr>
       </tbody>
      </table>
      </div>
    </div> <!-- panel body -->
  </div> <!-- panel primary -->
  </form>

  <form id="form-upd-horario" class="form-horizontal" action="/updhorario" method="post">

      <div class="modal fade" id="updModal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button> -->
            <h4 class="modal-title">Actualización de Horario</h4>
          </div>
          <div class="modal-body">

              <fieldset>

              <input type="hidden" name="idHorario" id="idHorario">

              <!-- Text input-->
              <div id="right" class="col-lg-6">
              <div class="form-group form-group-sm">
                <label class="col-md-4 control-label" for="textinput">Nombre Horario</label>
                <div class="col-md-4">
                <input id="updNombre" name="updNombre" type="text" placeholder="Nombre Horario" class="form-control input-md">
                </div>
              </div>
            </div>

              <!-- Text input-->
              <div id="left" class="col-lg-6">
              <div class="form-group form-group-sm">
                <label class="col-md-4 control-label" for="textinput">Mes Horario</label>
                <div class="col-md-4">
                <select id="updMes" name="updMes" class="form-control form-control-sm">
                  <option value="1">Enero</option>
                  <option value="2">Febrero</option>
                  <option value="3">Marzo</option>
                  <option value="4">Abril</option>
                  <option value="5">Mayo</option>
                  <option value="6">Junio</option>
                  <option value="7">Julio</option>
                  <option value="8">Agosto</option>
                  <option value="9">Septiembre</option>
                  <option value="10">Octubre</option>
                  <option value="11">Noviembre</option>
                  <option value="12">Diciembre</option>
                </select>
                </div>
              </div>
            </div>

              </fieldset>

              <table id="dtHorariosUpd" class="table table-hover table-bordered table-striped table-condensed ">
                <thead>
                  <tr class="active">
                    <th></th>
                    <th style="text-align: center">Lunes</th>
                    <th style="text-align: center">Martes</th>
                    <th style="text-align: center">Miercoles</th>
                    <th style="text-align: center">Jueves</th>
                    <th style="text-align: center">Viernes</th>
                    <th style="text-align: center">Sabado</th>
                    <th style="text-align: center">Domingo</th>
                  </tr>
               </thead>
               <tbody>

                 <tr>
                   <td>Entrada</td>
                   <td>
                      <div class="input-group input-group-sm clockpicker">
                        <input type="text" class="form-control input-sm time" name="updInicioLunes" id="updInicioLunes"/>
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-time"></span>
                        </span>
                      </div>
                   </td>
                   <td>
                      <div class="input-group input-group-sm clockpicker">
                      <input type="text" class="form-control input-sm time" name="updInicioMartes" id="updInicioMartes"/>
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-time"></span>
                        </span>
                      </div>
                   </td>
                   <td>
                      <div class="input-group input-group-sm clockpicker">
                      <input type="text" class="form-control input-sm time" name="updInicioMiercoles" id="updInicioMiercoles"/>
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-time"></span>
                        </span>
                      </div>
                   </td>
                   <td>
                      <div class="input-group input-group-sm clockpicker">
                      <input type="text" class="form-control input-sm time" name="updInicioJueves" id="updInicioJueves"/>
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-time"></span>
                        </span>
                      </div>
                   </td>
                   <td>
                      <div class="input-group input-group-sm clockpicker">
                      <input type="text" class="form-control input-sm time" name="updInicioViernes" id="updInicioViernes"/>
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-time"></span>
                        </span>
                      </div>
                   </td>
                   <td>
                      <div class="input-group input-group-sm clockpicker">
                      <input type="text" class="form-control input-sm time" name="updInicioSabado" id="updInicioSabado"/>
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-time"></span>
                        </span>
                      </div>
                   </td>
                   <td>
                      <div class="input-group input-group-sm clockpicker">
                      <input type="text" class="form-control input-sm time" name="updInicioDomingo" id="updInicioDomingo"/>
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-time"></span>
                        </span>
                      </div>
                   </td>
                 </tr>

                 <tr>
                   <td>Salida</td>
                   <td>
                      <div class="input-group input-group-sm clockpicker">
                        <input type="text" class="form-control input-sm time" name="updTerminoLunes" id="updTerminoLunes"/>
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-time"></span>
                        </span>
                      </div>
                   </td>
                   <td>
                      <div class="input-group input-group-sm clockpicker">
                        <input type="text" class="form-control input-sm time" name="updTerminoMartes" id="updTerminoMartes"/>
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-time"></span>
                        </span>
                      </div>
                   </td>
                   <td>
                      <div class="input-group input-group-sm clockpicker">
                        <input type="text" class="form-control input-sm time" name="updTerminoMiercoles" id="updTerminoMiercoles"/>
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-time"></span>
                        </span>
                      </div>
                   </td>
                   <td>
                      <div class="input-group input-group-sm clockpicker">
                        <input type="text" class="form-control input-sm time" name="updTerminoJueves" id="updTerminoJueves"/>
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-time"></span>
                        </span>
                      </div>
                   </td>
                   <td>
                      <div class="input-group input-group-sm clockpicker">
                        <input type="text" class="form-control input-sm time" name="updTerminoViernes" id="updTerminoViernes"/>
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-time"></span>
                        </span>
                      </div>
                   </td>
                   <td>
                      <div class="input-group input-group-sm clockpicker">
                      <input type="text" class="form-control input-sm time" name="updTerminoSabado" id="updTerminoSabado"/>
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-time"></span>
                        </span>
                      </div>
                   </td>
                   <td>
                      <div class="input-group input-group-sm clockpicker">
                      <input type="text" class="form-control input-sm time" name="updTerminoDomingo" id="updTerminoDomingo"/>
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-time"></span>
                        </span>
                      </div>
                   </td>
                 </tr>

               </tbody>
              </table>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button class="btn btn-primary" name="actualizar" value="actualizar">Actualizar</button>
          </div>
        </div>
      </div>
    </div>

  </form>

{% endblock %}

{% block scripts %}
  <script src="/dataTable/js/jquery.dataTables.js" type="text/javascript"></script>
  <script src="/dataTable/js/dataTables.bootstrap-3.js" type="text/javascript"></script>
  <script src="/dataTable/js/dataTables.bootstrapPagination-3.js" type="text/javascript"></script>
  <script src="/dataTable/js/jquery.dataTables.columnFilter.js" type="text/javascript"></script>
  <script src="/javascripts/datatable.horario.config.js" type="text/javascript"></script>

  <script src="/javascripts/clockpicker.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.validate.js" type="text/javascript"></script>
  <script src="/javascripts/validations.horario.js" type="text/javascript"></script>

  <script type="text/javascript">
    $("#mes").prepend("<option value='' selected='selected'></option>");
  </script>
{% endblock %}
