{% extends '../layout.html' %}

{% block menu %}
  {% include '../menu.html' %}
{% endblock %}

{% block head %}

  <link href="stylesheets/clockpicker.css" rel="stylesheet" type="text/css">
  <link href="stylesheets/standalone.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/datatable-responsive-fix.css" rel="stylesheet" type="text/css">
  
{% endblock %}

{% block content %}

  <!-- migas -->
  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
          <li><a href="/home">home</a></li>
          <li><a href="#">horarios</a></li>
      </ol>
    </div>
  </div>

  <!-- Mensajes -->
  {% if flash.success.length > 0 %}
      <div class="alert alert-dismissable alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <p>{{flash.success}}</p>
      </div>
  {% endif %}

  {% if flash.error.length > 0 %}
    <div class="alert alert-dismissable alert-danger" role="alert">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <p>{{flash.error}}</p>
    </div>
  {% endif %}

  {% if flash.warning.length > 0 %}
    <div class="alert alert-dismissable alert-warning" role="alert">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <p>{{flash.warning}}</p>
    </div>
  {% endif %}

  <form id="form-horario" class="form-horizontal" action="/horarios" method="post">

      <!-- Panel de Ingreso de Perfil -->
      <div class="panel panel-primary">
        <div class="panel-heading clearfix">
          <h5 class="panel-title pull-left" style="padding-top: 7.5px;"><strong>Ingresar nuevo Horario</strong></h5>
          <div class="btn-group pull-right">
              <button name="button" class="btn btn-default btn-xs pull-right"> <i class="glyphicon glyphicon-floppy-save"></i> Guardar</button>
          </div>
        </div>

        <div class="panel-body">

            <div class="row center-block">

              <div id="left" class="col-lg-6">

              <div class="col-md-6 form-group form-group-sm">
                  <!-- Nombre Horario -->
                  <label class="col-sm-6 control-label" for="nom_horario" id="nom_horario" >Nombre Horario</label>
                  <div class="col-xs-6">
                    <input type="text" class="form-control input-sm" name="nom_horario" placeholder="Nombre Horario" id="nom_horario"/>
                  </div>
              </div>

            </div>

            <div id="right" class="col-lg-6">

              <!-- mes -->
              <div class="col-md-6 form-group form-group-sm">
                <label class="col-sm-6 control-label" for="mes">Mes</label>
                <div class="col-xs-6">
                  <select id="mes" name="mes" class="form-control form-control-sm">
                    <option value="1">Enero</option>
                    <option value="2">Febrero</option>
                    <option value="3">Marzo</option>
                    <option value="4">Abril</option>
                    <option value="5">Mayo</option>
                    <option value="6">Junio</option>
                    <option value="7">Julio</option>
                    <option value="8">Agosto</option>
                    <option value="9">Septiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                  </select>
                  <!-- <input type="text" class="form-control input-sm" name="mes" placeholder="Mes" /> -->
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <!-- Panel de grilla de Perfiles -->
      <div class="panel panel-primary">
        <div class="panel-heading clearfix">
          <h5 class="panel-title pull-left" style="padding-top: 7.5px;"><strong>Horas Horario</strong></h5>
        </div>

        <div class="panel-body">

          <div class="table-responsive">
          <table id="dtHorarios" class="table table-striped table-hover dt-responsive" cellspacing="0" width="100%">
            <thead>
              <tr class="active">
                <th></th>
                <th style="text-align: center">Lunes</th>
                <th style="text-align: center">Martes</th>
                <th style="text-align: center">Miercoles</th>
                <th style="text-align: center">Jueves</th>
                <th style="text-align: center">Viernes</th>
                <th style="text-align: center">Sabado</th>
                <th style="text-align: center">Domingo</th>
              </tr>
           </thead>
           <tbody>

             <tr>
               <td>Entrada</td>
               <td>
                  <div class="input-group input-group-sm clockpicker">
                    <input type="text" class="form-control input-sm time" name="inicio_lunes" id="inicio_lunes"/>
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-time"></span>
                    </span>
                  </div>
               </td>
               <td>
                  <div class="input-group input-group-sm clockpicker">
                  <input type="text" class="form-control input-sm time" name="inicio_martes" id="inicio_martes"/>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-time"></span>
                    </span>
                  </div>
               </td>
               <td>
                  <div class="input-group input-group-sm clockpicker">
                  <input type="text" class="form-control input-sm time" name="inicio_miercoles" id="inicio_miercoles"/>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-time"></span>
                    </span>
                  </div>
               </td>
               <td>
                  <div class="input-group input-group-sm clockpicker">
                  <input type="text" class="form-control input-sm time" name="inicio_jueves" id="inicio_jueves"/>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-time"></span>
                    </span>
                  </div>
               </td>
               <td>
                  <div class="input-group input-group-sm clockpicker">
                  <input type="text" class="form-control input-sm time" name="inicio_viernes" id="inicio_viernes"/>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-time"></span>
                    </span>
                  </div>
               </td>
               <td>
                  <div class="input-group input-group-sm clockpicker">
                  <input type="text" class="form-control input-sm time" name="inicio_sabado" id="inicio_sabado"/>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-time"></span>
                    </span>
                  </div>
               </td>
               <td>
                  <div class="input-group input-group-sm clockpicker">
                  <input type="text" class="form-control input-sm time" name="inicio_domingo" id="inicio_domingo"/>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-time"></span>
                    </span>
                  </div>
               </td>
             </tr>

             <tr>
               <td>Salida</td>
               <td>
                  <div class="input-group input-group-sm clockpicker">
                    <input type="text" class="form-control input-sm time" name="termino_lunes" id="termino_lunes"/>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-time"></span>
                    </span>
                  </div>
               </td>
               <td>
                  <div class="input-group input-group-sm clockpicker">
                    <input type="text" class="form-control input-sm time" name="termino_martes" id="termino_martes"/>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-time"></span>
                    </span>
                  </div>
               </td>
               <td>
                  <div class="input-group input-group-sm clockpicker">
                    <input type="text" class="form-control input-sm time" name="termino_miercoles" id="termino_miercoles"/>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-time"></span>
                    </span>
                  </div>
               </td>
               <td>
                  <div class="input-group input-group-sm clockpicker">
                    <input type="text" class="form-control input-sm time" name="termino_jueves" id="termino_jueves"/>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-time"></span>
                    </span>
                  </div>
               </td>
               <td>
                  <div class="input-group input-group-sm clockpicker">
                    <input type="text" class="form-control input-sm time" name="termino_viernes" id="termino_viernes"/>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-time"></span>
                    </span>
                  </div>
               </td>
               <td>
                  <div class="input-group input-group-sm clockpicker">
                  <input type="text" class="form-control input-sm time" name="termino_sabado" id="termino_sabado"/>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-time"></span>
                    </span>
                  </div>
               </td>
               <td>
                  <div class="input-group input-group-sm clockpicker">
                  <input type="text" class="form-control input-sm time" name="termino_domingo" id="termino_domingo"/>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-time"></span>
                    </span>
                  </div>
               </td>
             </tr>

           </tbody>
          </table>
          </div>

        </div>
      </div>

  </form>

{% endblock %}

{% block scripts %}

  <script src="/javascripts/clockpicker.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.validate.js" type="text/javascript"></script>
  <script src="/javascripts/validations.horario.js" type="text/javascript"></script>

  <script src="/javascripts/dataTables.responsive.min.js" type="text/javascript"></script>

  <script type="text/javascript">
    $("#mes").prepend("<option value='' selected='selected'></option>");
  </script>
{% endblock %}
