{% extends '../layout.html' %}

{% block head %}
  <link href="/dataTable/css/dataTables.bootstrap-3.css" rel="stylesheet" type="text/css">

  <style>
        a.export, a.export:visited {
          text-decoration: none;
          color:#000;
          background-color:#ddd;
          border: 1px solid #ccc;
          padding:8px;
        }
  </style>
{% endblock %}

{% block menu %}
  {% include '../menu.html' %}
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li><a href="/ejecutivos">home</a></li>
      </ol>
    </div>
  </div>

  <!-- Mensajes -->

  {% if flash.success.length > 0 %}
  <div class="alert alert-dismissable alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <p>{{flash.success}}</p>
  </div>
  {% endif %}

  {% if flash.error.length > 0 %}
  <div class="alert alert-dismissable alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <p>{{flash.error}}</p>
  </div>
  {% endif %}

  {% if flash.warning.length > 0 %}
  <div class="alert alert-dismissable alert-warning" role="alert">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <p>{{flash.warning}}</p>
  </div>
  {% endif %}

  <form id="form-atenciones" class="form-horizontal" action="/postatenciones" method="post">

    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
        <h5 class="panel-title pull-left" style="padding-top: 7.5px;"><strong> Atenciones</strong></h5>
        <div class="btn-group pull-right">
            <a href="#" id="export" class="btn btn-default btn-xs pull-right"><i class="glyphicon glyphicon-floppy-save"></i> Exportar CSV</a>
        </div>
      </div>

      <div id="dvData" class="panel-body">

        <table id="dtAtenciones" class="table table-hover table-bordered table-striped table-condensed">
          <thead>
            <tr class="active">
              <th><strong>Sucursal</strong></th>
              <th><strong>Rut</strong></th>
              <th><strong>Estado Atencion</strong></th>
              <th><strong>Comentario</strong></th>
              <th><strong>Fecha</strong></th>
              <th><strong>Numero</strong></th>
              <th><strong>Inicio Espera</strong></th>
              <th><strong>Termino Espera</strong></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>

{% endblock %}

{% block scripts %}

  <script src="/dataTable/js/jquery.dataTables.js" type="text/javascript"></script>
  <script src="/dataTable/js/dataTables.bootstrap-3.js" type="text/javascript"></script>
  <script src="/dataTable/js/dataTables.bootstrapPagination-3.js" type="text/javascript"></script>
  <script src="/dataTable/js/jquery.dataTables.columnFilter.js" type="text/javascript"></script>
  <script src="/javascripts/datatable.atenciones.config.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.validate.js" type="text/javascript"></script>
  <script src="/javascripts/validations.ejecutivo.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.Rut.js" type="text/javascript"></script>

{% endblock %}
