{% extends '../layout.html' %}

{% block head %}
  <link href="/dataTable/css/dataTables.bootstrap-3.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block menu %}
  {% include '../menu.html' %}
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
          <li><a href="/home">home</a></li>
          <li><a href="#">perfiles</a></li>
      </ol>
    </div>
  </div>

  <!-- Mensajes -->

  {% if flash.success.length > 0 %}
      <div class="alert alert-dismissable alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <p>{{flash.success}}</p>
      </div>
  {% endif %}

  {% if flash.error.length > 0 %}
    <div class="alert alert-dismissable alert-danger" role="alert">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <p>{{flash.error}}</p>
    </div>
  {% endif %}

  {% if flash.warning.length > 0 %}
    <div class="alert alert-dismissable alert-warning" role="alert">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <p>{{flash.warning}}</p>
    </div>
  {% endif %}

  <form id="form-perfil" class="form-horizontal" action="/perfiles" method="post">

      <!-- Panel de Ingreso de Perfil -->
      <div class="panel panel-primary">
        <div class="panel-heading clearfix">
          <h5 class="panel-title pull-left" style="padding-top: 7.5px;"><strong>Ingresar nuevo Perfil</strong></h5>
          <div class="btn-group pull-right">
              <button name="button" class="btn btn-default btn-xs pull-right"> <i class="glyphicon glyphicon-floppy-save"></i> Guardar</button>
          </div>
        </div>

        <div class="panel-body">

            <div class="row center-block">

              <div class="col-md-4 form-group form-group-sm">

                  <!-- Nombre Perfil -->
                  <label class="col-sm-6 control-label" for="nom_perfil">Nombre Perfil</label>
                  <div class="col-xs-6">
                    <input type="text" class="form-control input-sm" name="nom_perfil" placeholder="Nombre Perfil" id="nom_perfil"/>
                  </div>

              </div>

              <div class="col-md-7 form-group form-group-sm">

                <!-- Descripcion Perfil -->
                <label class="col-sm-2 control-label" for="descripcion">Descripción</label>
                <div class="col-xs-8">
                  <textarea class="form-control input-sm" rows="6" name="descripcion" placeholder="Descripción Perfil" id="descripcion"></textarea>
                </div>

            </div>
          </div>
        </div>
      </div>

      <!-- Panel de grilla de Perfiles -->
      <div class="panel panel-primary">
        <div class="panel-heading clearfix">
          <h5 class="panel-title pull-left" style="padding-top: 7.5px;"><strong>Perfiles</strong></h5>
        </div>

        <div class="panel-body">

          <table id="dtPerfiles" class="table table-hover table-bordered table-striped table-condensed ">
            <thead>
              <tr class="active">
                <th>Nombre Perfil</th>
                <th>Descripcion</th>
                <th></th>
                <th></th>
              </tr>
           </thead>
           <tbody>
             <tr>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
             </tr>
           </tbody>
          </table>

        </div>
      </div>

  </form>

  <form id="form-upd-perfil" class="form-horizontal" action="/updperfil" method="post">

      <div class="modal fade" id="updModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button> -->
            <h4 class="modal-title">Actualización de Perfil</h4>
          </div>
          <div class="modal-body">

              <fieldset>

              <input type="hidden" name="idPerfil" id="idPerfil">

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Nombre Perfil</label>
                <div class="col-md-4">
                <input id="updNombre" name="updNombre" type="text" placeholder="Nombre Perfil" class="form-control input-md">
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Descripción</label>
                <div class="col-md-4">
                <textarea id="updDescripcion" rows="6" name="updDescripcion" type="text" placeholder="Descripción" class="form-control input-md"></textarea>
                </div>
              </div>

              </fieldset>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button class="btn btn-primary" name="actualizar" value="actualizar">Actualizar</button>
          </div>
        </div>
      </div>
    </div>

  </form>

{% endblock %}

{% block scripts %}

  <script src="/dataTable/js/jquery.dataTables.js" type="text/javascript"></script>
  <script src="/dataTable/js/dataTables.bootstrap-3.js" type="text/javascript"></script>
  <script src="/dataTable/js/dataTables.bootstrapPagination-3.js" type="text/javascript"></script>
  <script src="/dataTable/js/jquery.dataTables.columnFilter.js" type="text/javascript"></script>
  <script src="/javascripts/datatable.perfil.config.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.validate.js" type="text/javascript"></script>
  <script src="/javascripts/validations.perfil.js" type="text/javascript"></script>

{% endblock %}
