{% extends '../layout.html' %}

{% block head %}
    <!-- estilo de cuadrado -->
    <style>
      /* cuadrado visor de cliente en transito */
      .cuadrado{
        width: 100%;
        height: 100%;
        margin-top: 2%;
        margin-bottom: 2%;
        text-align: center;
      }

      h1{
        font-size: 350px;
        color: #ffffff;
        font-family: 'DS-Digital';
      }

      h2{
        font-size: 70px;
        color: #ffffff;
      }

      h3{
        font-size:50px;
        color: #ffffff;
      }

      /* well background azul */
      .well{
        background-color: #158BB9;
      }
    </style>

{% endblock %}

{% block content %}
    <!-- sucursal -->
    <input type="hidden" id="nombre_sucursal" name="nombre_sucursal" value="{{ejecutivo.sucursal.nombre}}">

    <!-- cuadro de avance -->
    <div class="row cuadrado well">
      <h2>SU TURNO</h2>
      <h1 id="numero_atencion"><strong></strong></h1>
      <!-- <div class="col-lg-4">
        <h3>RUT</h3>
      </div> -->
      <div class="col-xs-6 col-md-6 col-lg-6">
        <h3>RUT </h3>
        <h3 id="rut"></h3>
      </div>
      <div class="col-xs-6 col-md-6 col-lg-6">
        <h3>Caja </h3>
        <h3 id="modulo"></h3>
      </div>
    </div>

{% endblock %}

{% block scripts %}

    <!-- socket.io -->
    <script src="/javascripts/socket.io.js" type="text/javascript"></script>

    <!-- main socket.io -->
    <script src="/javascripts/main.visor.js" type="text/javascript"></script>

    <!-- jquery.countdown -->
    <script src="/javascripts/jquery.countdown.js" type="text/javascript"></script>

{% endblock %}
