{% extends '../layout.html' %}

{% block head %}

  <link href="/dataTable/css/dataTables.bootstrap-3.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">

  <style type="text/css">
    /* cuadrado para contador de solicitudes*/
    .rectangle{
      width: 200px;
      height: 200px;
    }

    .well{
      background-color: #158BB9;
    }

    .textarea-custom {
      margin: 0px -0.25px 0px 0px;
      height: 73px !important;
      width: 218px;
    }

  </style>

{% endblock %}

{% block content %}

  <!-- Titulo pagina -->

  <div class="row">
    <div class="col-md-12 text-center">
        <h3>Atención de Clientes</h3>
        <br>
    </div>
  </div>

  <!-- Mensajes -->

  {% if flash.success.length > 0 %}
      <div class="alert alert-dismissable alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <p>{{flash.success}}</p>
      </div>
  {% endif %}

  {% if flash.error.length > 0 %}
    <div class="alert alert-dismissable alert-danger" role="alert">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <p>{{flash.error}}</p>
    </div>
  {% endif %}

  {% if flash.warning.length > 0 %}
    <div class="alert alert-dismissable alert-warning" role="alert">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <p>{{flash.warning}}</p>
    </div>
  {% endif %}

  <form id="form-ejecutivos" class="form-horizontal" action="/atencion" method="post">

    <!-- nombre sucursal -->
    <input type="hidden" id="nombre_sucursal" name="nombre_sucursal" value="{{ejecutivo.sucursal.nombre}}">
    <!-- modulo ejecutivo -->
    <input type="hidden" id="modulo_ejecutivo" name="modulo_ejecutivo" value="{{ejecutivo.modulo}}">
    <!-- id usuario -->
    <input type="hidden" id="iduser" name="iduser" value="{{ejecutivo.id}}">
    <!-- tiempo de atencion -->
    <input type="hidden" id="espera_atencion" name="espera_atencion">
    <!-- cliente en transito -->
    <input type="hidden" id="hcli_transito" name="hcli_transito" value="">
    <!-- total clientes -->
    <input type="hidden" id="hcli_total" name="hcli_total" value="">

    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
        <h5 class="panel-title pull-left" style="padding-top: 7.5px;"><strong>Visor de Clientes</strong></h5>
          <div class="btn-group pull-right">
            <a href="/logout" title="logout" class="btn btn-default btn-xs pull-right"><i class="glyphicon glyphicon-off"></i> Cerrar Sesión</a>
          </div>
      </div>

    <div class="panel-body">

        <div class="row center-block">

          <!-- 1 -->
          <div class="col-xs-4 col-md-4 col-lg-4">

              <div class="form-group">
                <h3>Ticket de Atención</h3>
                <div class="well rectangle text-center">
                  <p><h1 style="color: white;" id="cli_transito" name="cli_transito"></h1></p>
                  <p><h4 style="color: white;">Rut Cliente</h4></p>
                  <p><h3 style="color: white;" id="rut_transito" name="rut_transito"></h3></p>
                </div>
              </div>

          </div>

          <!-- 2 -->
          <div class="col-xs-4 col-md-4 col-lg-4">

              <div class="form-group">
                <h3>Total Clientes en Cola</h3>
                <div class="well rectangle text-center">
                  <p><h1 style="color: white;" id="cli_total" name="cli_total"></h1></p>
                </div>
              </div>

          </div>

          <!-- 3 -->
          <div class="col-xs-4 col-md-4 col-lg-4">

            <h3 style="visibility: hidden;">Ejecutivo</h3>

            <div class="form-group">
                <div style="background-image: url('images/anon_user.png'); width:200px; height:200px" class="center-block"></div>
            </div>

              <div class="form-group">
                <h4 class="col-xs-6 col-md-6 control-label">Ejecutivo</h4>
                <!-- <label class="col-md-4 control-label" for="">Ejecutivo</label> -->
                <div class="col-xs-6 col-md-6">
                  <h4 class="col-xs-6 col-md-6 control-label">{{ejecutivo.nombre}}</h4>
                  <!-- <label class="col-md-4 control-label" for="">{{ejecutivo.nombre}}</label> -->
                </div>
              </div>

              <div class="form-group">
                <h4 class="col-xs-6 col-md-6 control-label">Caja</h4>
                <!-- <label class="col-md-4 control-label" for="">Modulo</label> -->
                <div class="col-xs-6 col-md-6">
                  <h4 class="col-xs-6 col-md-6 control-label">{{ejecutivo.modulo}}</h4>
                  <!-- <label class="col-md-4 control-label" for="">{{ejecutivo.modulo}}</label> -->
                </div>
              </div>

          </div>

        </div>

        <div class="row center-block">

          <div class="col-xs-6 col-md-6 col-lg-6" id="right">

            <div id="estadoatencion" class="form-group form-group-sm hidden">
              <label class="col-xs-6 col-md-6 col-lg-6 control-label" for="estado">Estado Atención</label>
              <div class="col-xs-6 col-md-6 col-lg-6">
                <select id="estado" name="estado" class="form-control">
                  <option value="atendido">Atendido</option>
                  <option value="noatendido">No Atendido</option>
                </select>
              </div>
            </div>

            <div id="atendercli" class="form-group form-group-sm">
              <label class="col-xs-6 col-md-6 col-lg-6 control-label" for="Siguiente">Atender Cliente</label>
              <div class="col-xs-6 col-md-6 col-lg-6">
                <input type="button" class="btn btn-primary col-md-7" id="atender" value="atender"/>
                <!-- <button class="btn btn-primary col-md-7" name="atender" value="atender">Atender</button> -->
              </div>
            </div>

            <div id="finatencion" class="form-group form-group-sm hidden">
              <label class="col-xs-6 col-md-6 col-lg-6 control-label" for="Siguiente">Terminar Atención</label>
              <div class="col-xs-6 col-md-6 col-lg-6">
                <input type="button" class="btn btn-primary" id="siguiente" value="siguiente"/>
                <!-- <button class="btn btn-primary col-md-7" name="siguiente" value="siguiente">Atender</button> -->
              </div>
            </div>

          </div>

            <div class="col-xs-6 col-md-6 col-lg-6" id="left">

              <div id="comentarioatencion" class="form-group form-group-sm hidden">
                <label class="col-xs-3 col-md-3 col-lg-3 control-label" for="comentario">Comentario</label>
                <div class="col-xs-9 col-md-9 col-lg-9">
                  <textarea id="comentario" name="comentario" placeholder="Introdusca comentarios de la atención" class="form-control textarea-custom" required=""></textarea>
                </div>
              </div>

            </div>

        </div>

    </div>
  </form>

{% endblock %}

{% block scripts %}

  <script src="/dataTable/js/jquery.dataTables.js" type="text/javascript"></script>
  <script src="/dataTable/js/dataTables.bootstrap-3.js" type="text/javascript"></script>
  <script src="/dataTable/js/dataTables.bootstrapPagination-3.js" type="text/javascript"></script>
  <script src="/dataTable/js/jquery.dataTables.columnFilter.js" type="text/javascript"></script>
  <script src="/javascripts/datatable.ejecutivo.config.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.validate.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.Rut.js" type="text/javascript"></script>

  <!-- socket.io -->
  <script src="/javascripts/socket.io.js" type="text/javascript"></script>

  <!-- main socket.io -->
  <script src="/javascripts/main.atencion.js" type="text/javascript"></script>

  <!-- jquery.countdown -->
  <script src="/javascripts/jquery.countdown.js" type="text/javascript"></script>

  <!-- script de tiempo -->
  <!-- <script type="text/javascript"></script> -->

{% endblock %}
