{% extends '../layout.html' %}

{% block content %}

{% endblock %}

{% block scripts %}

  <script src="/dataTable/js/socket.io.js" type="text/javascript"></script>

  <script>

      var socket = io.connect('http://192.168.100.107:3000');
      socket.emit('test','room1');

  </script>
{% endblock %}
