
<!-- import planilla master -->
{% extends '../layout.html' %}

{% block head %}
  <!-- css -->
{% endblock %}

{% block menu %}
  <!-- Menu -->
  {% include '../menu.html' %}
{% endblock %}

{% block content %}
  <!-- contenido body -->

  <!-- migas -->
  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
          <li><a href="/home">home</a></li>
          <li><a href="/nuevacaja">nueva caja</a></li>
          <li><a href="/cajas">listado cajas</a></li>
      </ol>
    </div>
  </div>

  <!-- Mensajes -->
  {% if flash.success.length > 0 %}
      <div class="alert alert-dismissable alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <p>{{flash.success}}</p>
      </div>
  {% endif %}

  {% if flash.error.length > 0 %}
    <div class="alert alert-dismissable alert-danger" role="alert">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <p>{{flash.error}}</p>
    </div>
  {% endif %}

  {% if flash.warning.length > 0 %}
    <div class="alert alert-dismissable alert-warning" role="alert">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <p>{{flash.warning}}</p>
    </div>
  {% endif %}

  <form id="form-cajas" class="form-horizontal" action="/cajas" method="post">

  </form>

{% endblock %}

{% block scripts %}
  <!-- js -->
{% endblock %}
