{% extends '../layout.html' %}

{% block head %}

  <!-- css -->
  <link href="/dataTable/css/dataTables.bootstrap-3.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/datatable-responsive-fix.css" rel="stylesheet" type="text/css">

  <style>
      #mapa {
          height: 200px;
          width: 500px;
      }

      .table td {
         text-align: center;
      }
  </style>
{% endblock %}

{% block menu %}
  <!-- Menu -->
  {% include '../menu.html' %}
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-12">
      <ol class="breadcrumb">
          <li><a href="/ejecutivos">home</a></li>
          <li><a href="/empresas">empresas</a></li>
          <li><a href="#">editar empresa</a></li>
      </ol>
  </div>
</div>

<!-- Mensajes -->

{% if flash.success.length > 0 %}
  <div class="alert alert-dismissable alert-success" role="alert">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <p>{{flash.success}}</p>
  </div>
{% endif %}

{% if flash.error.length > 0 %}
  <div class="alert alert-dismissable alert-danger" role="alert">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <p>{{flash.error}}</p>
  </div>
{% endif %}

{% if flash.warning.length > 0 %}
  <div class="alert alert-dismissable alert-warning" role="alert">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <p>{{flash.warning}}</p>
  </div>
{% endif %}


  <!-- Acordeon de detalles de empresa-->

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

      <!-- Edicion de Empresa-->
      <div class="panel panel-primary">
          <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                      <i class="glyphicon glyphicon-briefcase"></i>
                      Datos de Empresa
                  </a>
              </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
            aria-labelledby="headingOne">
              <div class="panel-body">

                  <form id="form-upd-empresa" class="form-horizontal"
                    action="/updEmpresa" method="post">

                      <div class="row center-block">

                          <!-- hiden fields -->
                          <input type="hidden" name="id_empresa" id="id_empresa"
                            value="{{empresa.id}}">

                          <!-- div campos izquierda -->
                          <div id="left" class="col-md-6">

                              <!-- razon social -->
                              <div class="form-group form-group-sm">
                                  <label class="col-md-4 control-label" for="apellido">
                                    Raz&oacute;n Social</label>
                                  <div class="col-md-4">
                                      <input id="razonSocial" name="razonSocial" type="text"
                                      value="{{empresa.razonSocial}}"
                                      placeholder="" class="form-control input-md" required="">
                                  </div>
                              </div>

                              <!-- rut -->
                              <div class="form-group form-group-sm">
                                  <label class="col-md-4 control-label" for="rut">Rut</label>
                                  <div class="col-md-4">
                                      <input id="rut" name="rut" type="text"
                                      value="{{empresa.rut}}"
                                      placeholder="Rut" class="form-control input-md" required="">
                                  </div>
                              </div>

                              <!-- Rubro -->
                              <div class="form-group form-group-sm">
                                  <label class="col-md-4 control-label" for="rubro">Rubro</label>
                                  <div class="col-md-4">

                                      <select id="cmbRubro" name="cmbRubro" class="form-control"
                                              onchange="SetIdRubro(this.value);" >

                                          {% if rubros.length %}
                                            <option value="0">Seleccione</option>
                                          {% endif %}

                                          {% for rubro in rubros %}
                                            {% if rubro.id == empresa.rubro %}
                                              <option value="{{rubro.id}}" selected>
                                                {{rubro.nombre}}
                                              </option>
                                            {% else %}
                                              <option value="{{rubro.id}}">
                                                {{rubro.nombre}}
                                              </option>
                                            {% endif %}


                                          {% endfor %}

                                      </select>
                                  </div>
                              </div>
                          </div>

                          <!-- div campos derecha -->
                          <div id="right" class="col-md-6">

                              <!-- telefono -->
                              <div class="form-group form-group-sm">
                                  <label class="col-md-4 control-label" for="telefonos">
                                    Telefonos</label>
                                  <div class="col-md-4">
                                      <input id="telefonos" name="telefonos" type="text"
                                      value="{{empresa.telefono}}"
                                      placeholder="Telefonos" class="form-control input-md" required="">
                                  </div>
                              </div>

                              <!-- fax -->
                              <div class="form-group form-group-sm">
                                  <label class="col-md-4 control-label" for="fax">Fax</label>
                                  <div class="col-md-4">
                                      <input id="fax" name="fax" type="text"
                                      value="{{empresa.fax}}"
                                      placeholder="Fax" class="form-control input-md" required="">
                                  </div>
                              </div>

                              <!-- Button -->
                              <div class="form-group">
                                  <label class="col-md-4 control-label" for="checkboxes"></label>
                                  <div class="col-md-4">
                                      <button id="grabar" name="grabar"
                                      class="btn btn-primary col-md-8 ">Grabar</button>
                                  </div>
                              </div>
                          </div>

                      </div>

                  </form>

              </div>
          </div>
      </div>

      <!-- Listado de Sucursales-->
      <div class="panel panel-primary">
          <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                  href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <i class="glyphicon glyphicon-home"></i>
                      Sucursales
                  </a>
              </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
            aria-labelledby="headingTwo">
              <div class="panel-body">

                  <!--Listado de Sucursales-->
                  <div class="table-responsive">
                    <table id="dtSucursales" class="table table-striped table-hover dt-responsive">
                        <thead>
                            <tr class="active">
                                <th><strong>Sucursal</strong></th>
                                <th><strong>Calle</strong></th>
                                <th><strong>Nro Calle</strong></th>
                                <!-- <th><strong>Regi&oacute;n</strong></th>
                                <th><strong>Comuna</strong></th> -->
                                <th><strong>Tel&eacute;fono</strong></th>
                                <th><strong>Actualizar Datos</strong></th>
                                <th><strong>Eliminar Datos</strong></th>
                                <th><strong>Agregar Cajas</strong></th>
                                <th><strong>Ver Cajas</strong></th>
                            </tr>
                        </thead>
                    </table>
                  </div>
                  <button data-toggle="modal" data-target="#nuevaSucursalModal"
                    id="AgregarSucursal" name="AgregarSucursal"
                    class="btn btn-primary col-md-2 ">Agregar Sucursal</button>

              </div>
          </div>
      </div>

      <!-- Listado de Servicios de Empresa-->
        <!-- <div class="panel panel-primary">
          <div class="panel-heading" role="tab" id="headingFour">
              <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                    href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      Servicios
                  </a>
              </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
            aria-labelledby="headingFour">
              <div class="panel-body">
                  <div class="table-responsive">
                    <table id="dtServicios" class="table table-striped table-hover dt-responsive">
                        <thead>
                            <tr class="active">
                                <th><strong>Sucursal</strong></th>
                                <th><strong>Nombre</strong></th>
                                <th><strong>Descripci&oacute;n</strong></th>
                                <th><strong>Opciones</strong></th>
                                <th></th>
                            </thead>
                        </tr>
                    </table>
                  </div>
                  <button data-toggle="modal" data-target="#nuevoServicioModal" id="AgregarServicio" name="AgregarServicio" class="btn btn-primary col-md-2 ">Agregar Servicio</button>

              </div>
          </div>
      </div> -->

  </div>

  <!--Formulario de Nueva Sucursal-->

  <form id="form-new-sucursal" class="form-horizontal"
      action="/empresas/nuevaSucursal" method="post">

      <!-- header modal pop-up -->
      <div class="modal fade" id="nuevaSucursalModal">
          <div class="modal-dialog modal-lg">
              <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title">Nueva Sucursal</h4>
                  </div>

                  <!-- body modal pop-up -->
                  <div class="modal-body">

                      <!-- <fieldset> -->
                      <div class="row col-lg-12">

                          <!-- hidden fields -->
                          <input type="hidden" name="idEmpresaSucursal" id="idEmpresaSucursal"
                          value="">
                          <input type="hidden" name="latitud" id="latitud"  value="" />
                          <input type="hidden" name="longitud" id="longitud"  value="" />

                          <!-- div izquierda -->
                          <div id="left" class="col-md-6">

                              <!-- nombre -->
                              <div class="form-group form-group-sm">
                                  <label class="col-md-4 control-label" for="textinput">
                                      Nombre</label>
                                  <div class="col-md-4">
                                      <input id="nombreSucursal" name="nombreSucursal" type="text" placeholder="Nombre Sucursal" class="form-control input-md" required="">
                                  </div>
                              </div>

                              <!-- telefono -->
                              <div class="form-group form-group-sm">

                                  <label class="col-md-4 control-label" for="textinput">
                                      Telefono</label>

                                  <div class="col-md-4">
                                      <input id="telefonoSucursal" name="telefonoSucursal"
                                      type="text" placeholder="Telefono"
                                      class="form-control input-md" required="">
                                  </div>
                              </div>

                              <!-- fax -->
                              <div class="form-group form-group-sm">

                                  <label class="col-md-4 control-label" for="textinput">
                                      Fax</label>

                                  <div class="col-md-4">
                                      <input id="faxSucursal" name="faxSucursal"
                                      type="text" placeholder="Fax"
                                      class="form-control input-md" required="">
                                  </div>
                              </div>

                              <!-- horario -->
                              <div class="form-group form-group-sm">

                                  <label class="col-md-4 control-label" for="textinput">
                                      Horarios de Atención</label>

                                  <div class="col-md-4">
                                      <select id="horariosSucursal" name="horariosSucursal"
                                        class="form-control">

                                          {% if horarios.length %} <option value="0">
                                              Seleccione</option>
                                          {% endif %}

                                          {% for horario in horarios %}
                                              <option value="{{horario.id}}">
                                              {{horario.nombre}}</option>
                                          {% endfor %}
                                      </select>
                                  </div>
                              </div>

                          </div>

                          <!-- div derecha -->
                          <div id="right" class="col-md-6">

                              <!-- region -->
                              <div class="form-group form-group-sm">
                                  <label class="col-md-4 control-label" for="textinput">
                                      Región</label>
                                  <div class="col-md-4">

                                      <input type="hidden" name="hddIdRegionSucursal"
                                      id="hddIdRegionSucursal" value=""/>

                                      <select id="cmbRegionSucursal" name="cmbRegionSucursal"
                                      class="form-control">

                                          {% if regiones.length %} <option value="0">
                                              Seleccione</option>
                                          {% endif %}

                                          {% for region in regiones %}
                                              <option value="{{region.id}}">
                                                  {{region.nombre}}
                                              </option>
                                          {% endfor %}

                                      </select>
                                  </div>
                              </div>

                              <!-- comuna -->
                              <div class="form-group form-group-sm">

                                  <label class="col-md-4 control-label" for="textinput">
                                      Comuna</label>

                                  <div class="col-md-4">

                                      <input type="hidden" name="hddIdComunaSucursal"
                                      id="hddIdComunaSucursal" value=""/>

                                      <select id="cmbComunaSucursal" name="cmbComunaSucursal"
                                      class="form-control"
                                      onchange="SetIdComunaSucursal(this.value);" >

                                          {% if comunas.length %} <option value="0">
                                              Seleccione</option>
                                          {% endif %}

                                          {% for comuna in comunas %}
                                              <option value="{{comuna.id}}">
                                                  {{comuna.nombre}}
                                              </option>
                                          {% endfor %}

                                      </select>
                                  </div>
                              </div>

                              <!-- calle -->
                              <div class="form-group form-group-sm">
                                  <label class="col-md-4 control-label" for="textinput">
                                      Calle</label>
                                  <div class="col-md-4">
                                      <input id="calleSucursal" name="calleSucursal" type="text" placeholder="Calle" class="form-control input-md"
                                      required="">
                                  </div>
                              </div>

                              <!-- nro calle -->
                              <div class="form-group form-group-sm">

                                  <label class="col-md-4 control-label" for="textinput">
                                      Nro Calle</label>

                                  <div class="col-md-4">
                                      <input id="nroCalleSucursal" name="nroCalleSucursal"
                                      type="text" placeholder="Nro Calle"
                                      class="form-control input-md" required="">
                                  </div>
                              </div>

                          </div>

                      <!-- </fieldset> -->
                      </div>

                  </div>

                  <!-- mapa google maps -->
                  <div id="mapa" class="center-block"></div>

                  <!-- footer modal pop-up -->
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                      <button class="btn btn-primary" name="actualizar" value="actualizar">Guardar</button>
                  </div>

              </div>
          </div>
      </div>
  </form>

  <!--Formulario de Editar Sucursal-->

  <form id="form-upd-sucursal" class="form-horizontal"
      action="/empresas/updsucursal" method="post">

      <!-- header modal pop-up -->
      <div class="modal fade" id="updateSucursalModal">
          <div class="modal-dialog modal-lg">
              <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title">Nueva Sucursal</h4>
                  </div>

                  <!-- body modal pop-up -->
                  <div class="modal-body">

                      <!-- <fieldset> -->
                      <div class="row col-lg-12">

                          <!-- hidden fields -->
                          <input type="hidden" name="idEmpresaSucursal" id="idEmpresaSucursal"
                          value="">
                          <input type="hidden" name="latitud" id="latitud"  value="" />
                          <input type="hidden" name="longitud" id="longitud"  value="" />

                          <!-- div izquierda -->
                          <div id="left" class="col-md-6">

                              <!-- nombre -->
                              <div class="form-group form-group-sm">
                                  <label class="col-md-4 control-label" for="textinput">
                                      Nombre</label>
                                  <div class="col-md-4">
                                      <input id="UpdNombreSucursal" name="UpdNombreSucursal" type="text" placeholder="Nombre Sucursal" class="form-control input-md" required="">
                                  </div>
                              </div>

                              <!-- telefono -->
                              <div class="form-group form-group-sm">

                                  <label class="col-md-4 control-label" for="textinput">
                                      Telefono</label>

                                  <div class="col-md-4">
                                      <input id="UpdTelefonoSucursal" name="UpdTelefonoSucursal"
                                      type="text" placeholder="Telefono"
                                      class="form-control input-md" required="">
                                  </div>
                              </div>

                              <!-- fax -->
                              <div class="form-group form-group-sm">

                                  <label class="col-md-4 control-label" for="textinput">
                                      Fax</label>

                                  <div class="col-md-4">
                                      <input id="UpdFaxSucursal" name="UpdFaxSucursal"
                                      type="text" placeholder="Fax"
                                      class="form-control input-md" required="">
                                  </div>
                              </div>

                              <!-- horario -->
                              <div class="form-group form-group-sm">

                                  <label class="col-md-4 control-label" for="textinput">
                                      Horarios de Atención</label>

                                  <div class="col-md-4">
                                      <select id="UpdHorariosSucursal" name="UpdHorariosSucursal"
                                        class="form-control">

                                          {% if horarios.length %} <option value="0">
                                              Seleccione</option>
                                          {% endif %}

                                          {% for horario in horarios %}
                                              <option value="{{horario.id}}">
                                              {{horario.nombre}}</option>
                                          {% endfor %}
                                      </select>
                                  </div>
                              </div>

                          </div>

                          <!-- div derecha -->
                          <div id="right" class="col-md-6">

                              <!-- region -->
                              <div class="form-group form-group-sm">
                                  <label class="col-md-4 control-label" for="textinput">
                                      Región</label>
                                  <div class="col-md-4">

                                      <input type="hidden" name="UpdhddIdRegionSucursal"
                                      id="UpdhddIdRegionSucursal" value=""/>

                                      <select id="UpdRegionSucursal" name="UpdRegionSucursal"
                                      class="form-control">

                                          {% if regiones.length %} <option value="0">
                                              Seleccione</option>
                                          {% endif %}

                                          {% for region in regiones %}
                                              <option value="{{region.id}}">
                                                  {{region.nombre}}
                                              </option>
                                          {% endfor %}

                                      </select>
                                  </div>
                              </div>

                              <!-- comuna -->
                              <div class="form-group form-group-sm">

                                  <label class="col-md-4 control-label" for="textinput">
                                      Comuna</label>

                                  <div class="col-md-4">

                                      <input type="hidden" name="hddIdComunaSucursal"
                                      id="hddIdComunaSucursal" value=""/>

                                      <select id="updComunaSucursal" name="updComunaSucursal"
                                      class="form-control"
                                      onchange="SetIdComunaSucursal(this.value);" >

                                          {% if comunas.length %} <option value="0">
                                              Seleccione</option>
                                          {% endif %}

                                          {% for comuna in comunas %}
                                              <option value="{{comuna.id}}">
                                                  {{comuna.nombre}}
                                              </option>
                                          {% endfor %}

                                      </select>
                                  </div>
                              </div>

                              <!-- calle -->
                              <div class="form-group form-group-sm">
                                  <label class="col-md-4 control-label" for="textinput">
                                      Calle</label>
                                  <div class="col-md-4">
                                      <input id="UpdCalleSucursal" name="UpdCalleSucursal" type="text" placeholder="Calle" class="form-control input-md"
                                      required="">
                                  </div>
                              </div>

                              <!-- nro calle -->
                              <div class="form-group form-group-sm">

                                  <label class="col-md-4 control-label" for="textinput">
                                      Nro Calle</label>

                                  <div class="col-md-4">
                                      <input id="UpdNroCalleSucursal" name="UpdNroCalleSucursal"
                                      type="text" placeholder="Nro Calle"
                                      class="form-control input-md" required="">
                                  </div>
                              </div>

                          </div>

                      <!-- </fieldset> -->
                      </div>

                  </div>

                  <!-- mapa google maps -->
                  <div id="mapa" class="center-block"></div>

                  <!-- footer modal pop-up -->
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                      <button class="btn btn-primary" name="actualizar" value="actualizar">Guardar</button>
                  </div>

              </div>
          </div>
      </div>
  </form>

  <!--Formulario de Nuevo Servicio-->

  <form id="form-new-servicio" class="form-horizontal"
      action="/empresas/nuevoServicio" method="post">

      <div class="modal fade" id="nuevoServicioModal">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title">Nuevo Servicio</h4>
                  </div>

                  <div class="modal-body">

                      <fieldset>

                          <input type="hidden" name="idEmpresaServicio_Nueva" id="idEmpresaServicio_Nueva"  value="">
                          <input type="hidden" name="idServicio" id="idServicio"  value="">


                          <!-- Nombre-->
                          <div class="form-group">
                              <label class="col-md-4 control-label" for="textinput">
                                  Nombre</label>
                              <div class="col-md-4">
                                  <input id="servicioNombre" name="servicioNombre" type="text" placeholder="Nombre Servicio" class="form-control input-md" required="">
                              </div>
                          </div>

                          <!-- Descripcion-->
                          <div class="form-group">
                              <label class="col-md-4 control-label" for="textinput">
                                  Descripci&oacute;n</label>
                              <div class="col-md-4">
                                  <textarea id="servicioDescripcion" rows="6" name="servicioDescripcion" type="text" placeholder="Descripción"
                                  class="form-control input-md" required=""></textarea>
                              </div>
                          </div>

                          <!-- Sucursal-->
                          <div class="form-group">
                              <label class="col-md-4 control-label" for="textinput">
                                  Sucursal</label>
                              <div class="col-md-4">
                                  <input type="hidden" name="hddIdSucursalServicio"
                                  id="hddIdSucursalServicio" value=""/>

                                  <select id="cmbSucursal" name="cmbSucursal" class="form-control"  onchange="SetIdSucursal(this.value);" >

                                      {% if sucursales.length %} <option value="0">
                                          Seleccione</option>
                                      {% endif %}

                                      {% for sucursal in sucursales %}
                                          {{sucursal.nombre}}
                                          <option value="{{sucursal.id}}">{{sucursal.nombre}}
                                          </option>
                                      {% endfor %}
                                  </select>
                              </div>
                          </div>

                      </fieldset>

                  </div>

                  <div class="modal-footer">
                      <button type="button" class="btn btn-default"
                      data-dismiss="modal">Cancelar</button>
                      <button class="btn btn-primary" name="actualizar"
                      value="actualizar">Guardar</button>
                  </div>
              </div>
          </div>
      </div>
  </form>

  <!--Formulario actualizacion de servicio-->

  <form id="form-upd-servicio" class="form-horizontal"
      action="/empresas/updServicio" method="post">

      <div class="modal fade" id="updServicioModal">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title">Actualizar Servicio</h4>
                  </div>
                  <div class="modal-body">

                      <fieldset>

                          <input type="hidden" name="idEmpresaServicio_Actualizar"
                          id="idEmpresaServicio_Actualizar"  value="">
                          <input type="hidden" name="updIdServicio" id="updIdServicio"  value="">

                          <!-- Nombre-->
                          <div class="form-group">
                              <label class="col-md-4 control-label" for="textinput">
                                  Nombre</label>
                              <div class="col-md-4">
                                  <input id="updServicioNombre" name="updServicioNombre"
                                  type="text" placeholder="Nombre Servicio"
                                  class="form-control input-md" required="">
                              </div>
                          </div>

                          <!-- Descripcion-->
                          <div class="form-group">
                              <label class="col-md-4 control-label" for="textinput">
                                  Descripci&oacute;n</label>
                              <div class="col-md-4">
                                  <textarea id="updServicioDescripcion" rows="6"
                                  name="updServicioDescripcion" type="text" placeholder="Descripción" class="form-control input-md" required=""></textarea>
                              </div>
                          </div>

                          <!-- Sucursal-->
                          <div class="form-group">
                              <label class="col-md-4 control-label" for="textinput">
                                  Sucursal</label>
                              <div class="col-md-4">
                                  <input type="hidden" name="hddIdSucursalServicio"
                                  id="hddIdSucursalServicio" value=""/>

                                  <select id="updCmbSucursal" name="updCmbSucursal"
                                  class="form-control"  onchange="SetIdSucursal(this.value);" >

                                      {% if sucursales.length %}
                                          <option value="0">Seleccione</option>
                                      {% endif %}

                                      {% for sucursal in sucursales %}
                                          {{sucursal.nombre}}
                                          <option value="{{sucursal.id}}">
                                          {{sucursal.nombre}}</option>
                                      {% endfor %}
                                  </select>
                              </div>
                          </div>

                      </fieldset>

                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default"
                      data-dismiss="modal">Cancelar</button>
                      <button class="btn btn-primary" name="actualizar"
                      value="actualizar">Actualizar</button>
                  </div>
              </div>
          </div>
      </div>
  </form>

  <!-- Formulario Nueva caja sucursal -->

  <form id="form-new-caja" class="form-horizontal"
    action="/empresas/sucursal/inscaja" method="post">

      <div class="modal fade" id="insCajaModal">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title">Ingresar Nueva Caja</h4>
                  </div>
                  <div class="modal-body">

                      <fieldset>

                        <!-- hiden fields -->
                        <input type="hidden" name="idEmpresaCaja" id="idEmpresaCaja"
                          value="{{empresa.id}}">

                          <!-- Sucursal-->
                          <div class="form-group">
                              <label class="col-md-4 control-label" for="textinput">
                                  Sucursal</label>
                              <div class="col-md-4">

                                  <!-- nombre sucursal-->
                                  <label id="nombresucursal" name="nombresucursal" class=" control-label text-left" for="textinput"></label>

                                  <!-- idsucursal -->
                                  <input type="hidden" id="idcajasucursal"
                                  name="idcajasucursal"></input>

                              </div>
                          </div>

                          <!-- Numero caja-->
                          <div class="form-group">
                              <label class="col-md-4 control-label" for="textinput">
                                  Numero Caja</label>
                              <div class="col-md-4">
                                  <input id="numeroCaja" name="numeroCaja"
                                  type="text" placeholder="Numero Caja"
                                  class="form-control input-md" required="">
                              </div>
                          </div>

                      </fieldset>

                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default"
                      data-dismiss="modal">Cancelar</button>
                      <button class="btn btn-primary" name="Guardar"
                      value="Guardar">Guardar</button>
                  </div>
              </div>
          </div>
      </div>
  </form>

  <!-- listado de cajas por sucursal -->

  <div class="modal fade" id="selCajaModal">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Cajas de Sucursal</h4>
              </div>
              <div class="modal-body">

                  <fieldset>

                    <!-- hiden fields -->
                    <input type="hidden" name="idEmpresaCaja" id="idEmpresaCaja"
                      value="{{empresa.id}}">

                      <!--Listado de Sucursales-->
                      <div class="table-responsive">
                        <table id="dtCajas" class="table table-striped table-hover dt-responsive">
                            <thead>
                                <tr class="active">
                                    <th><strong>Numero</strong></th>
                                    <th><strong>Sucursal</strong></th>
                                </tr>
                            </thead>
                        </table>
                      </div>
                  </fieldset>

              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default"
                  data-dismiss="modal">Salir</button>
              </div>
          </div>
      </div>
  </div>

{% endblock %}

{% block scripts %}

  <!-- validaciones -->
  <script src="/javascripts/jquery.validate.js"
      type="text/javascript"></script>
  <script src="/javascripts/validations.empresa.js"
      type="text/javascript"></script>
  <script src="/javascripts/jquery.Rut.js"
      type="text/javascript"></script>

  <!-- multiselec -->
  <script src="/javascripts/bootstrap-multiselect.js"
      type="text/javascript"></script>

  <!-- datatable v.1.10.6 -->
  <script src="/javascripts/jquery.dataTables.min.js" type="text/javascript"></script>
  <script src="/javascripts/dataTables.responsive.min.js" type="text/javascript"></script>

  <!-- datatable bootstarp -->
  <script src="/dataTable/js/dataTables.bootstrap-3.js" type="text/javascript"></script>
  <script src="/dataTable/js/dataTables.bootstrapPagination-3.js" type="text/javascript"></script>

  <!-- google maps api -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUP99g7Yl1wnJIvJcfmD9MCUR1yGuLqTY&v=3.exp"></script>

  <!-- javascript pagina -->
  <script src="/javascripts/empresas/edicion.js"
    type="text/javascript"></script>
  <script src="/javascripts/empresas/datatable.sucursal.caja.config.js"
    type="text/javascript"></script>
  <script src="/javascripts/empresas/datatable.empresa.servicio.config.js"
    type="text/javascript"></script>
  <script src="/javascripts/empresas/datatable.empresa.sucursal.config.js"
    type="text/javascript"></script>


{% endblock %}
