{% extends '../layout.html' %}

{% block head %}
  <!-- css -->
  <link href="/dataTable/css/dataTables.bootstrap-3.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/datatable-responsive-fix.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block menu %}
  <!-- Menu -->
  {% include '../menu.html' %}
{% endblock %}

{% block content %}

  <!-- Migas -->
  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li><a href="/home">home</a></li>
        <li><a href="/empresas">empresas</a></li>
      </ol>
    </div>
  </div>

 <form id="form-signup" class="form-horizontal" action="/empresas" method="post">

  <!-- Mensajes -->

  {% if flash.success.length > 0 %}
      <div class="alert alert-success" role="alert">{{flash.success}}</div>
  {% endif %}

  {% if flash.error.length > 0 %}
    <div class="alert alert-danger" role="alert">{{flash.error}}</div>
  {% endif %}

  {% if flash.warning.length > 0 %}
    <div class="alert alert-warning" role="alert">{{flash.warning}}</div>
  {% endif %}

  <form id="form-empresas-list" class="form-horizontal" action="/empresas" method="post">

      <!-- Panel de grilla de empresas -->
      <div class="panel panel-primary">
        <div class="panel-heading clearfix">
          <h5 class="panel-title pull-left" style="padding-top: 7.5px;"><strong>Listado de Empresas</strong></h5>
        </div>

        <div class="panel-body">

          <div class="table-responsive">
            <table id="dtEmpresas" class="table table-striped table-hover dt-responsive">
              <thead>
                 <tr class="active">
                  <th>Raz&oacute;n Social</th>
                  <th>Rut</th>
                  <th>Rubro</th>
                  <th>Tel&eacute;fonos</th>
                  <th>Fax</th>
                  <th></th>
                  <th>Editar</th>
                  <th>Eliminar</th>
              </tr>
             </thead>
             <tbody>
               <tr>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
               </tr>
             </tbody>
            </table>
          </div>

        </div>
      </div>
  </form>

{% endblock %}

{% block scripts %}
  <!-- validaciones -->
  <script src="/javascripts/jquery.validate.js" type="text/javascript"></script>

  <!-- datatable v.1.10.6 -->
  <script src="/javascripts/jquery.dataTables.min.js" type="text/javascript"></script>
  <script src="/javascripts/dataTables.responsive.min.js" type="text/javascript"></script>

  <!-- datatable bootstarp -->
  <script src="/dataTable/js/dataTables.bootstrap-3.js" type="text/javascript"></script>
  <script src="/dataTable/js/dataTables.bootstrapPagination-3.js" type="text/javascript"></script>

  <!-- datatable config empresa -->
  <script src="/javascripts/empresas/datatable.empresa.config.js" type="text/javascript"></script>
{% endblock %}
