{% extends '../layout.html' %}

{% block head %}
  <script src="/javascripts/jquery.validate.js" type="text/javascript"></script>
  <script src="/javascripts/validations.js" type="text/javascript"></script>
  <script src="/javascripts/validations.empresa.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.Rut.js" type="text/javascript"></script>
  <script type="text/javascript">

  function SetIdRubro(id)
    {
       var hddIdRubro =$('#hddIdRubro');
       hddIdRubro.val(id);
    }
</script>
{% endblock %}

{% block menu %}
  <!-- Menu -->
  {% include '../menu.html' %}
{% endblock %}

{% block content %}


 <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li><a href="/home">home</a></li>
        <li><a href="/empresas">empresas</a></li>
        <li><a href="#">nueva empresa</a></li>
      </ol>
    </div>
  </div>

  <form id="form-new-empresa" class="form-horizontal" action="/nuevaEmpresa" method="post">

    <!-- Mensajes -->

    {% if flash.success.length > 0 %}
      <div class="alert alert-success" role="alert">{{flash.success}}</div>
    {% endif %}

    {% if flash.error.length > 0 %}
      <div class="alert alert-danger" role="alert">{{flash.error}}</div>
    {% endif %}

    {% if flash.warning.length > 0 %}
      <div class="alert alert-warning" role="alert">{{flash.warning}}</div>
    {% endif %}


    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
        <h5 class="panel-title pull-left" style="padding-top: 7.5px;">
          <strong>Creación Empresa</strong></h5>
            <div class="btn-group pull-right">
                <button name="grabar" id="grabar" class="btn btn-default btn-xs pull-right"> <i class="glyphicon glyphicon-floppy-save"></i> Grabar</button>
            </div>
        </div>
        <br>

        <div class="panel-body">

        <div id="right" class="col-lg-6">

            <div class="form-group form-group-sm">
              <label class="col-md-4 control-label" for="apellido">Raz&oacute;n Social</label>
              <div class="col-md-4">
              <input id="razonSocial" name="razonSocial" type="text"
              placeholder="" class="form-control input-md" required="">
              </div>
            </div>

            <div class="form-group form-group-sm">
              <label class="col-md-4 control-label" for="rut">Rut</label>
              <div class="col-md-4">
              <input id="rut" name="rut" type="text"
              placeholder="Rut" class="form-control input-md">
              </div>
            </div>

            <div class="form-group form-group-sm">
              <label class="col-md-4 control-label" for="rubro">Rubro</label>
              <div class="col-md-4">
                <input type="hidden" name="hddIdRubro" id="hddIdRubro"  value="" />
                <select id="cmbRubro" name="cmbRubro" class="form-control"  onchange="SetIdRubro(this.value);" >

                {% if rubros.length %} <option value="0">Seleccione</option>{% endif %}

                 {% for rubro in rubros %}
                 {{rubro.nombre}}
                  <option value="{{rubro.id}}">{{rubro.nombre}}</option>
                 {% endfor %}
                </select>
              </div>
            </div>

        </div>

        <div id="left" class="col-lg-6">

            <div class="form-group form-group-sm">
              <label class="col-md-4 control-label" for="rut">Telefonos</label>
              <div class="col-md-4">
              <input id="telefonos" name="telefonos" type="text"
              placeholder="Telefonos" class="form-control input-md" required="">
              </div>
            </div>

            <div class="form-group form-group-sm">
              <label class="col-md-4 control-label" for="rut">Fax</label>
              <div class="col-md-4">
              <input id="fax" name="fax" type="text"
              placeholder="Fax" class="form-control input-md" required="">
              </div>
            </div>
        </div>

        </div>
        
    </form>
   </div>
