{% extends '../layout.html' %}

{% block menu %}
  {% include '../menu.html' %}
{% endblock %}

{% block content %}

    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="/home">home</a></li>
            <li><a href="/ejecutivos">ejecutivos</a></li>
            <li><a href="#">editar ejecutivo</a></li>
        </ol>
      </div>
    </div>

    <!-- Titulo pagina -->
    <div class="row">
      <div class="col-md-12 text-center">
          <h3>Editar Ejecutivo</h3>
          <br>
      </div>
    </div>

    <form id="form-signup" class="form-horizontal" action="/updejecutivo" method="post">
      <input type="hidden" name="id_ejecutivo" value="{{ejecutivo.id}}">

      <!-- Buscador -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <i class="glyphicon glyphicon-user" style="font-size: 20px;"></i>
            Editar
          <i class="glyphicon glyphicon-refresh pull-right" style="font-size: 20px;"></i>
        </div>
        <br>
        <br>

          <div class="row center-block">

            <div id="left" class="col-sm-6">

              <div id="nombre" class="form-group">
                <label class="col-sm-4 control-label" for="nombre">Nombre</label>
                  <div class="col-xs-5">
                      <input class="form-control" type="text" name="nombre" value="{{ejecutivo.nombre}}">
                  </div>
                </div>

              <div id="apellido" class="form-group">
                  <label class="col-sm-4 control-label" for="nombre">Apellido</label>
                <div class="col-xs-5">
                  <input class="form-control" type="text" name="apellido" value="{{ejecutivo.apellido}}">
                </div>
              </div>

              <div id="rut" class="form-group">
                  <label class="col-sm-4 control-label" for="nombre">Rut</label>
                <div class="col-xs-5">
                  <input class="form-control" type="text" name="rut" value="{{ejecutivo.rut}}">
                </div>
              </div>
              <div id="email" class="form-group">
                  <label class="col-sm-4 control-label" for="nombre">Email</label>
                <div class="col-xs-5">
                  <input class="form-control" type="text" name="email" value="{{ejecutivo.email}}">
                </div>
              </div>

            </div>

            <div id="right" class="col-sm-6">

              <div id="usuario" class="form-group">
                <label class="col-sm-4 control-label" for="nombre">Usuario</label>
                  <div class="col-xs-5">
                    <input class="form-control" type="text" name="usuario" value="{{ejecutivo.usuario}}">
                  </div>
              </div>
              <div id="contrasena" class="form-group">
                  <label class="col-sm-4 control-label" for="nombre">Contraseña</label>
                <div class="col-xs-5">
                  <input class="form-control" type="text" name="contrasena">
                </div>
              </div>
              <div id="ncontrasena" class="form-group">
                  <label class="col-sm-4 control-label" for="nombre">Nueva Contraseña</label>
                <div class="col-xs-5">
                  <input class="form-control" type="text" name="ncontrasena">
                </div>
              </div>

            </div>

          </div>

          <div class="row center-block">
            <br>
            <br>

            <div id="left-button" class="col-sm-6">
              <div id="actualizar" class="form-group">
                <label class="col-sm-4 control-label" for="actualizar"></label>
                <div class="col-xs-5">
                  <button class="btn btn-primary btn-md" name="actualizar" value="actualizar">Actualizar</button>
                  <a href="/ejecutivos" class="btn btn-primary btn-md" name="volver" value="volver">Volver</a>
                </div>
              </div>
            </div>
          </div>

        <br>
        <br>
      </div> <!-- end div panel -->

    </form>
{% endblock %}
