{% extends '../layout.html' %}

{% block head %}

  <!-- css -->
  <link href="/dataTable/css/dataTables.bootstrap-3.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/datatable-responsive-fix.css" rel="stylesheet" type="text/css">

{% endblock %}

{% block menu %}

  <!-- menu -->
  {% include '../menu.html' %}

{% endblock %}

{% block content %}

  <!-- migas -->
  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
          <li><a href="/ejecutivos">home</a></li>
          <li><a href="/nuevoejecutivo">nuevo ejecutivo</a></li>
          <li><a href="/ejecutivos">ejecutivos</a></li>
      </ol>
    </div>
  </div>

  <!-- Mensajes -->
  {% if flash.success.length > 0 %}
      <div class="alert alert-dismissable alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <p>{{flash.success}}</p>
      </div>
  {% endif %}

  {% if flash.error.length > 0 %}
    <div class="alert alert-dismissable alert-danger" role="alert">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <p>{{flash.error}}</p>
    </div>
  {% endif %}

  {% if flash.warning.length > 0 %}
    <div class="alert alert-dismissable alert-warning" role="alert">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <p>{{flash.warning}}</p>
    </div>
  {% endif %}

  <form id="form-ejecutivos" class="form-horizontal" action="/ejecutivos" method="post">

  <div class="panel panel-primary">
    <div class="panel-heading clearfix">
      <h5 class="panel-title pull-left" style="padding-top: 7.5px;"><strong> Ejecutivos</strong></h5>
    </div>

  <div class="panel-body">

  <div class="table-responsive">
    <table id="dtEjecutivos" class="table table-striped table-hover dt-responsive" cellspacing="0" width="100%">
      <thead>
      <tr class="active">
        <th><strong>Nombre</strong></th>
        <th><strong>Apellido</strong></th>
        <th><strong>Usuario</strong></th>
        <th><strong>Email</strong></th>
        <th><strong>Rut</strong></th>
        <th><strong>Perfil</strong></th>
        <th><strong>Empresa</strong></th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

</div>
</form>

<form id="form-upd-ejecutivo" class="form-horizontal" action="/updejecutivo" method="post">

    <div class="modal fade" id="updModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button> -->
          <h4 class="modal-title">Actualización de Ejecutivo</h4>
        </div>
        <div class="modal-body">

            <input type="hidden" name="idEjecutivo" id="idEjecutivo">

            <div class="row center-block">

            <!-- Row 1 -->
            <div class="col-md-6">

            <div class="form-group form-group-sm">
              <label class="col-md-4 control-label" for="textinput">Nombre</label>
              <div class="col-md-6">
              <input id="updNombre" name="updNombre" type="text" placeholder="Nombre" class="form-control">
              </div>
            </div>

            <div class="form-group form-group-sm">
              <label class="col-md-4 control-label" for="textinput">Apellido</label>
              <div class="col-md-6">
              <input id="updApellido" name="updApellido" type="text" placeholder="Apellido" class="form-control">
              </div>
            </div>

            </div>

            <!-- Row 2 -->
            <div class="col-md-6">

              <div class="form-group form-group-sm">
                <label class="col-md-2 control-label" for="textinput">Rut</label>
                <div class="col-md-6">
                <input id="rut" name="rut" type="text" placeholder="Rut" class="form-control rut">
                </div>
              </div>

              <div class="form-group form-group-sm">
                <label class="col-md-2 control-label" for="textinput">Email</label>
                <div class="col-md-6">
                <input id="updEmail" name="updEmail" type="text" placeholder="Email" class="form-control">
                </div>
              </div>

            </div>

            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button class="btn btn-primary" name="actualizar" value="actualizar">Actualizar</button>
        </div>
      </div>
    </div>
    </div>

</form>

{% endblock %}

{% block scripts %}

  <!-- datatable -->
  <!--<script src="/dataTable/js/jquery.dataTables.js" type="text/javascript"></script>
  <script src="/dataTable/js/jquery.dataTables.columnFilter.js" type="text/javascript"></script> -->

  <!-- datatable v.1.10.6 -->
  <script src="/javascripts/jquery.dataTables.min.js" type="text/javascript"></script>
  <script src="/javascripts/dataTables.responsive.min.js" type="text/javascript"></script>

  <!-- datatable bootstarp -->
  <script src="/dataTable/js/dataTables.bootstrap-3.js" type="text/javascript"></script>
  <script src="/dataTable/js/dataTables.bootstrapPagination-3.js" type="text/javascript"></script>

  <!-- datatable config -->
  <script src="/javascripts/ejecutivos/datatable.ejecutivo.config.js" type="text/javascript"></script>

  <!-- validaciones -->
  <script src="/javascripts/jquery.validate.js" type="text/javascript"></script>
  <script src="/javascripts/ejecutivos/validations.ejecutivo.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.Rut.js" type="text/javascript"></script>

{% endblock %}
