{% extends '../layout.html' %}

{% block menu %}
  {% include '../menu.html' %}
{% endblock %}

{% block content %}

    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="/ejecutivos">home</a></li>
            <li><a href="#">nuevo ejecutivo</a></li>
        </ol>
      </div>
    </div>

    {% if flash.success.length > 0 %}
        <div class="alert alert-dismissable alert-success" role="alert">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <p>{{flash.success}}</p>
        </div>
    {% endif %}

    {% if flash.error.length > 0 %}
      <div class="alert alert-dismissable alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <p>{{flash.error}}</p>
      </div>
    {% endif %}

    {% if flash.warning.length > 0 %}
      <div class="alert alert-dismissable alert-warning" role="alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <p>{{flash.warning}}</p>
      </div>
    {% endif %}

    <form id="form-ejecutivo" class="form-horizontal" action="/nuevoejecutivo" method="post">

        <div class="panel panel-primary">
          <div class="panel-heading clearfix">
            <h5 class="panel-title pull-left" style="padding-top: 7.5px;">
              <!-- <i class="glyphicon glyphicon-user"></i> -->
              <strong>Ingresar nuevo Ejecutivo</strong></h5>
            <div class="btn-group pull-right">
                <button name="button" class="btn btn-default btn-xs pull-right"> <i class="glyphicon glyphicon-floppy-save"></i> Crear</button>
            </div>

        </div>
        <br>
        <br>

        <div class="row center-block">

          <legend style="padding-left: 30px" >Datos Personales</legend>

          <!-- Row 1 -->
          <div class="col-md-4">

            <div class="form-group form-group-sm">
              <label class="col-md-4 control-label" for="nombre">Nombre</label>
                <div class="col-md-8">
                  <input id="nombre" name="nombre" type="text"
                  placeholder="nombre" class="form-control input-md" required="">
                </div>
            </div>

            <div class="form-group form-group-sm">
              <label class="col-md-4 control-label" for="email">Email</label>
                <div class="col-md-8">
                  <input id="email" name="email" type="text"
                  placeholder="email" class="form-control input-md" required="">
                </div>
            </div>

          </div>

          <!-- Row 2 -->
          <div class="col-md-4">

            <div class="form-group form-group-sm">
              <label class="col-md-4 control-label" for="apellido">Apellido</label>
                <div class="col-md-8">
                  <input id="apellido" name="apellido" type="text"
                  placeholder="apellido" class="form-control input-md">
                </div>
            </div>

          </div>

          <!-- Row 3 -->
          <div class="col-md-4">

            <div class="form-group form-group-sm">
              <label class="col-md-4 control-label" for="rut">Rut</label>
                <div class="col-md-8">
                  <input id="rut" name="rut" type="text"
                  placeholder="RUT" class="form-control input-md rut">
                </div>
            </div>

          </div>

          <div class="row center-block">
            <legend style="padding-left: 30px" >Datos de Usuario</legend>

            <div class="col-md-4">

              <div class="form-group form-group-sm">
                <label class="col-md-4 control-label" for="usuario">Usuario</label>
                <div class="col-md-8">
                <input id="usuario" name="usuario" type="text"
                placeholder="Usuario" class="form-control input-md">
                </div>
              </div>

              <div class="form-group form-group-sm">
                <label class="col-md-4 control-label" for="contrasena">Contraseña</label>
                <div class="col-md-8">
                  <input id="contrasena" name="contrasena" type="password"
                  placeholder="Contraseña" class="form-control input-md">
                </div>
              </div>

              <div class="form-group form-group-sm">
                <label class="col-md-4 control-label" for="contrasenatwo">Repetir Contraseña</label>
                <div class="col-md-8">
                  <input id="contrasenatwo" name="contrasenatwo" type="password"
                  placeholder="Repetir Contraseña" class="form-control input-md">
                </div>
              </div>

            </div>

            <div class="col-md-4">

              <div class="form-group form-group-sm">
                <label class="col-md-4 control-label" for="empresa">Empresa</label>
                <div class="col-md-8">
                  <select id="empresa" name="empresa" class="form-control">
                    {% for item in empresas %}
                      <option value="{{item.id}}">{{item.razonSocial}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group form-group-sm">
                <label class="col-md-4 control-label" for="perfil">Perfil</label>
                <div class="col-md-8">
                  <select id="perfil" name="perfil" class="form-control">
                    {% for item in perfiles %}
                      <option value="{{item.id}}">{{item.nombre}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group form-group-sm">
                <label class="col-md-4 control-label" for="sucursal">Sucursal</label>
                <div class="col-md-8">
                  <select id="sucursal" name="sucursal" class="form-control">
                    {% for item in sucursales %}
                      <option value="{{item.id}}">{{item.nombre}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group form-group-sm">
                <label class="col-md-4 control-label" for="sucursal">Modulo</label>
                <div class="col-md-8">
                  <select id="modulo" name="modulo" class="form-control">
                    <option value="1">Modulo 1</option>
                    <option value="2">Modulo 2</option>
                    <option value="3">Modulo 3</option>
                    <option value="4">Modulo 4</option>
                    <option value="5">Modulo 5</option>
                    <option value="6">Modulo 6</option>
                  </select>
                </div>
              </div>

            </div>

          </div>

        </div>

      </div>
    </form>
{% endblock %}

{% block scripts %}

  <script src="/javascripts/jquery.validate.js" type="text/javascript"></script>
  <script src="/javascripts/ejecutivos/validations.ejecutivo.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.Rut.js" type="text/javascript"></script>

  <script type="text/javascript">
    $("#perfil").prepend("<option value='' selected='selected'>Seleccione</option>");
    $("#empresa").prepend("<option value='' selected='selected'>Seleccione</option>");
    $("#sucursal").prepend("<option value='' selected='selected'>Seleccione</option>");
    $("#modulo").prepend("<option value='' selected='selected'>Seleccione</option>");

    /* funcion que carga sucursales segun empresa */
    $('#empresa').change(function() {

        var item = $(this);
        var idEmpresa = item.val();

        var params = new Object();

        params.idEmpresa = idEmpresa;
        params = JSON.stringify(params);

        $.ajax({
            type: "POST",
            url: "/empresas/sucursalesbyempresa",
            data: params,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: LoadSucursales,
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert('ERROOOOR: '+ textStatus + ": " + XMLHttpRequest.responseText);
            }
        });
    });

    /* carga de sucursales */
    function LoadSucursales(result) {
      //quito los options que pudiera tener previamente el combo
      // cantidad de registros
      var cantidadRegistros = result.length;

      if(cantidadRegistros > 0) {

      var sucursales = $('#sucursal');
      sucursales.html("");
      sucursales.append($("<option></option>").attr("value",0).text('Seleccione'));

       for(var i = 0; i < cantidadRegistros; i++){
              var item = result[i];
              sucursales.append($("<option></option>").attr("value", item._id).text(item.nombre));
          }
        }
    }
  </script>

{% endblock %}
