{% extends 'layout.html' %}

{% block head %}
    <link href="/stylesheets/login.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
  <form class="form-signin" action="/forgot" method="post">
    {% if flash.success.length > 0 %}
      <div class="alert alert-dismissable alert-success" role="alert">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <p>{{flash.success}}</p>
      </div>
    {% endif %}

    {% if flash.error.length > 0 %}
      <div class="alert alert-dismissable alert-danger" role="alert">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <p>{{flash.error}}</p>
      </div>
    {% endif %}

    {% if flash.warning.length > 0 %}
      <div class="alert alert-dismissable alert-warning" role="alert">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <p>{{flash.warning}}</p>
      </div>
    {% endif %}

    {% if flash.info.length > 0 %}
      <div class="alert alert-dismissable alert-info" role="alert">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <p>{{flash.info}}</p>
      </div>
    {% endif %}

    <div class="wrapper">
      <h2 class="form-signin-heading">Reset Password</h2>
        <div class="form-group">
          <input type="text" class="form-control" name="username" placeholder="Usuario" required="" autofocus="" />
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name="email" placeholder="Email" required=""/>
        </div>

        <div class="form-group">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Enviar</button>
        </div>
    </div>
  </form>
{% endblock %}
