{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block menu %}
    {% include 'menu.html' %}
{% endblock %}

{% block content %}

    <div class="row">
      <div class="col-lg-12">
        <!-- <ol class="breadcrumb">
            <li><a href="#">home</a></li>
        </ol> -->
        <!-- <img src="/images/logo_app4.png" style="max-width:100%; height: auto; display: block;"> -->
      </div>
    </div>

{% endblock %}
