{% extends 'layout.html' %}

{% block title %}tuEspera{% endblock %}

{% block head %}
    <link href="/stylesheets/login.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="wrapper">
        <form class="form-signin" action="/login" method="post">

          <!-- Mensajes Flash -->
          {% if flash.success.length > 0 %}
            <div class="alert alert-dismissable alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p>{{flash.success}}</p>
            </div>
          {% endif %}

          {% if flash.error.length > 0 %}
            <div class="alert alert-dismissable alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p>{{flash.error}}</p>
            </div>
          {% endif %}

          {% if flash.warning.length > 0 %}
            <div class="alert alert-dismissable alert-warning" role="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p>{{flash.warning}}</p>
            </div>
          {% endif %}

          {% if flash.info.length > 0 %}
            <div class="alert alert-dismissable alert-info" role="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p>{{flash.info}}</p>
            </div>
          {% endif %}

            <h2 class="form-signin-heading">Tu Espera</h2>

            {% if message.length > 0 %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endif %}

            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Usuario" required="" autofocus="" />
            </div>

            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Contrseña" required=""/>
            </div>

            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
                <!-- <a href="/forgot" class="btn btn-link">Olvidaste tu Contraseña?</a> -->
            </div>
        </form>
    </div>
{% endblock %}
