<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
        <script src="/javascripts/jquery-1.11.1.min.js" type="text/javascript"></script>
        <script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
        
        {% block head %}
        {% endblock %}
    </head>
    <body>

        {% block menu %}{% endblock %}

        <div class="container">
            {% block content %}{% endblock %}
        </div>

       
        {% block scripts %}{% endblock %}
    </body>
</html>
