<nav>
    <ul class="nav navbar-nav">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> Ejecutivos <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/nuevoejecutivo">Nuevo Ejecutivo</a></li>
            <li class="divider"></li>
            <li><a href="/ejecutivos">Listado de Ejecutivos</a></li>
          </ul>
        </li>

        {% if user.usuario == 'admin'%}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-flag"></i> Permisos y Perfiles<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/permisos"> Permisos</a></li>
              <li class="divider"></li>
              <li><a href="/perfiles"> Perfiles</a></li>
            </ul>
          </li>
        {% endif %}

        {% if user.usuario == 'admin' %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-calendar"></i> Horarios<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/horarios"> Ingresar Horarios</a></li>
              <li class="divider"></li>
              <li><a href="/edithorarios"> Editar Horarios</a></li>
            </ul>
          </li>
        {% endif %}

        {% if user.usuario == 'admin' %}
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-briefcase"></i> Rubros <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/rubros"> Rubros</a></li>
          </ul>
        </li>
        {% endif %}

        {% if user.usuario != 'admin'%}
          <li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-briefcase"></i> Empresa <span class="caret"></span></a>
           <ul class="dropdown-menu" role="menu">
             <li><a href="/empresas/54470c60f03aae4911d4e737"> Mi Empresa</a></li>
           </ul>
           </li>
        {% endif %}

        {% if user.usuario == 'admin' %}
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-briefcase"></i> Empresas <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/nuevaEmpresa"> Nueva Empresa</a></li>
            <li class="divider"></li>
            <li><a href="/empresas"> Ver Empresas</a></li>
          </ul>
          </li>
          {% endif %}

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-briefcase"></i> Atenciones <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/infatenciones"> Atenciones realizadas</a></li>
          </ul>
        </li>

    </ul>
    <ul class="nav navbar-nav navbar-right" style="padding-right: 30px">
        <li><a href="/logout" title="logout">Cerrar Sesión</a></li>
    </ul>
</nav>
