{% extends 'layout.html' %}

{% block head %}

{% endblock %}

{% block content %}
  <form method="post">

    <div class="wrapper">
      <legend>Reset Password</legend>
        <div class="form-group">
          <input type="text" class="form-control" name="password" placeholder="New Password" required="" autofocus="" />
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name="confirm" placeholder="Confirm Password" required=""/>
        </div>

        <div class="form-group">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Actualizar Password</button>
        </div>
    </div>

  </form>
{% endblock %}
